      <li>
        Name: <%= user.name %> 
        <span class="profile-link">

          <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
         
          <span class=" button is-link">  <%= friendship(user.id) %></span>
        </span>
      </li>